body {
    background-image: url("https://cdn.dribbble.com/users/1338391/screenshots/17547297/media/87cde54877f594d7e40ff90094adc782.jpg");
}

.title {
    text-align: center;
}

.artists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.artists li {
    color: white;
    list-style-type: none;
}

.new-artist {
    text-align: center;
    font-size: 1rem;
}

.artist-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t-new-artist {
    text-align: center;
}

.artist-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 20px  50px;
  background-color: blue;
}
