.title {
    text-align: center;
}

.artists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
}

.new-artist {
    text-align: center;
    font-size: 1rem;
}

.artist-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t-new-artist {
    text-align: center;
}

.artist-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 20px  50px;
  background-color: blue;
}
